h1 {font-size: 3.0rem;}

h1 span:nth-child(1) {
    color: #4285f4;
  }

h1 span:nth-child(2) {
    color: red;
} 
h1 span:nth-child(3) {
    color: pink;
  }

  h1 span:nth-child(4) {
    color: hotpink;
  }
  h1 span:nth-child(5) {
    color : rosybrown;
  }
body {margin-top: 20px;
    text-align: center;}

button {width: 116px;
height: 36px;
margin-top: 25px;}


canvas {margin-top: 40px;}
div {margin-top: 20px;}
h2 {margin-top: 200px;}

h2 span:nth-child(1) {
    color: #4285f4;
  }

h2 span:nth-child(2) {
    color: red;
} 
h2 span:nth-child(3) {
    color: pink;
  }

  h2 span:nth-child(4) {
    color: hotpink;
  }
  h2 span:nth-child(5) {
    color : rosybrown;
  }

  h3 {
    font-size: 0.75rem;
    margin-top: 50px;
    
}

div {margin-top: 100px;}

.ad-banner {margin-top: 0px;
  width: 320px;
margin: 0 auto; }

label-container {margin-top: 0px;}
webcam-container {margin-top: 0px;}

.ad-banner2 {margin-top: 0px;
  width: 320px;
margin: 0 auto; }


.at-share-btn-elements{margin-top: 10px;}